<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품목록</title>
</head>

<body>
  <h3>상품목록</h3>
  <table>
    <thead>
    <tr>
      <th>상품번호</th>
      <th>상품명</th>
      <th>수량</th>
      <th>가격</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="product : ${list}" th:data-product-id="${product.pid}">
        <td th:text="${product.pid}"></td>
        <td th:text="${product.pname}"></td>
        <td th:text="${product.count}"></td>
        <td th:text="${product.price}"></td>
      </tr>
    </tbody>
  </table>
  <button type="button" id="addBtn">등록</button>

</body>
<script>
  addBtn.addEventListener('click',e=>{
    location.href = `/products/add`;
    });

    const $tbody = document.querySelector("table tbody");
    $tbody.addEventListener('click',e=>{
      if(e.target.tagName == 'TD'){
        const pid = e.target.parentElement.dataset.pid;
        console.log(pid);
        //location.href =  `/products/${pid}`;
      }
    });

</script>
</html>